/* General App styling */ 
.App { 
  text-align: center; 
  font-family: Arial, sans-serif; 
  color: #333; 
  background-color: #f4f4f4; 
  padding: 20px; 
} 

/* Header styling */ 
.App-header { 
  background-color: #282c34; 
  padding: 20px; 
  color: white; 
} 


/* Logo spin animation is removed for simplicity and focus on data */ 
/* Links styling */ 
.App-link { 
  color: #61dafb; 
  text-decoration: none; 
} 
  
/* Footer styling */ 
footer { 
  background-color: #282c34; 
  color: white; 
  padding: 10px 0; 
  position: fixed; 
  bottom: 0; 
  width: 100%; 
  text-align: center; 
} 
  
/* Styles for buttons */ 
button { 
  background-color: #61dafb; 
  border: none; 
  padding: 10px 20px; 
  margin: 10px; 
  border-radius: 5px; 
  cursor: pointer; 
  color: white; 
  font-size: 16px; 
  transition: background-color 0.3s ease; 
} 
  
button:hover { 
  background-color: #4095c6; 
} 
  
/* Styles for input fields */ 
input[type="text"] { 
  padding: 10px; 
  margin: 10px; 
  border: 2px solid #ccc; 
  border-radius: 5px; 
  width: 300px; 
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
} 